* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
	display: flex;
	flex-flow: column nowrap;
}

.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #2D4059;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo {
	background: #EA5455;
	height: 30px;
	flex:1 1 auto;
	height: 20px;
}

.nav {
	background: #EA5455;
	height: 30px;
	flex:5 1 auto;
	height: 20px;
}

.social {
	background: #EA5455;
	height: 30px;
	flex:1 1 auto;
	height: 20px;
}
.texto-principal{
	background: #F07B3F;
}
h1{
	background: #FFD460;
}

.section {
    background: #000;
    display: flex;
}
.articulos{
	background: #CFCBF1;
	display: flex;
	flex:2 1 auto;
	flex-flow: row wrap;
}
.article{
	background: #E1FFCF;
	flex:1 1 40%;
}
.navegacion{
	background: #F0D879;
	flex:1 1 100%;
}
.aside{
	background:  red;
	flex:1 1 auto;
}
.publicidad{
	background: #08085E;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}
.pie{
	background: yellow;
	width: 300px;
}

@media all and (max-width: 800px){
	.section{
		flex-direction: column;
	}
	.menu{
		flex-direction: column;
		height: auto;
	}
	.aside{
		display: flex;
		justify-content: center;
	}

}
@media all and (max-width: 600px){
	.articulos{
		flex-direction: column;
	}
	

}
@media all and (max-width: 400px){
	.aside{
		flex-direction: column;
	}
	

}